<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SerIoTics</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../static/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://seriotics.info">Home</a></li>
        <li><a href="http://seriotics.info/blog">Blog</a></li>
        <li><a href="http://donachys.github.io/SerIoTics/data_display/app/templates/slides.html">Slides</a></li>
        <li><a href="mailto:shaun@donachy.me">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
    <!--<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>-->

    <div class="container">

      <div class="blog-header">
        <img src="../static/images/seriotics_logos/Seriotics_large.png" alt="SerIoTics" height="120" width="192"> 
        <p class="lead blog-description">Serialization metrics in an Internet of Things environment.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Evaluating Serialization Protocols</h2>
            <p class="blog-post-meta">October 1, 2015 by <a href="#">Shaun Donachy</a></p>

            <p>The "Internet of Things" (IoT) is on its way and it's going to bring a lot of data with it. By simulating a large facility with millions of sensors we can evaluate the effect of different serialization protocols on the throughput of a micro-batch streaming system.</p>
            <hr>
            <p>Serialization is important for passing data through a heterogenous environment in a language agnostic format. A serialization format can also give flexibility towards scheme changes as data needs evolve. Since there is so much data: reducing the size of that data will improve network performance, disk and memory accesses.</p>
            <p>This JSON message in text form is about 265 bytes.</p>
            <pre><code>
            {
              "minType":"BATHROOM",
              "majType":"HUMANITARIAN", "major_area_num":19, "minor_area_num":436,
              "quantity":3.7826,
              "unique_id":1000,
              "runtime":1443200834318,
              "item_sensed":"toilet", "subject_measured":"water",
              "sensor_location_name":"bathroom",
              "ticks_since_turn_on":0
            }
            </code></pre>
            <p>Avro schema are specified using a JSON format. Below is the schema used for encoding the JSON data shown above. Serializing it into a byte array with Avro makes it about 58 bytes and serializing with Protocol Buffers makes it 69 bytes.</p>
            <pre><code>
            {"namespace": "com.SerIoTics.data_generation",
             "type": "record",
             "name": "WaterSensor",
             "fields": [
                 {"name": "quantity", "type": "float"},
                 {"name": "major_area_num", "type": "int"},
                 {"name": "minor_area_num", "type": "int"},
                 {"name": "time_since_turn_on", "type": "int"},
                 {"name": "unique_id", "type": "long"},
                 {"name": "runtime", "type": "long"},
                 {"name": "minType",  "type": "string"},
                 {"name": "majType",  "type": "string"},
                 {"name": "item_sensed",  "type": "string"},
                 {"name": "subject_measured",  "type": "string"},
                 {"name": "sensor_location_name",  "type": "string"}
             ]
            }
            </code></pre>
            <p>Bundling the schema header along with the avro serialized byte-array results in a 540 byte message which actually increases the message size in this case.</p>
            <h2>Evaluating Performance</h2>
            <p>To perform an experiment Java objects created and serialized into JSON strings, or byte arrays in the case of Protobuf or Avro. The serialized messages are then fed into a Kafka cluster. Spark Streaming consumes messages in parallel from a Kafka topic using PySpark and the messages are de-serialized into Python objects. The schema definitions are located on both the producer and consumer sides per the needs of each protocol. PySpark is used to perform an aggregation process with map-reduce on the unique-id of the device which sent the message.</p>
            <img src="../static/images/Producer_Serialization.png" height="505" width="650" class="img" alt="Producer Serialization">
            <img src="../static/images/Consumer_Deserialization.png" height="505" width="650" class="img" alt="Consumer Deserialization">
            <h2>Results</h2>
            <img src="../static/images/SerializationVSBatchWindow.png" height="505" width="650" class="img" alt="Serialization vs. Batch Window Size">
            <p>
            The results for Protocol Buffers and Avro are very similar. Defining the schema provides an advantage over parsing JSON, enabling much faster marshalling and unmarshalling of the messages. A slight advantage over Protocol Buffers is given to Avro, but the real differences come down to how the protocols fit into the specific use case of a processing pipeline.
            </p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Shaun Donachy is a Data Engineering Fellow at Insight Data Science in Palo Alto, CA.</p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/donachys/SerIoTics">GitHub</a></li>
              <li><a href="https://twitter.com/nolojen">Twitter</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    <hr>
    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>