<html>
<head>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script>
    $(document).ready(function(){
        $('#JSONstart').click(function(){
            url='http://ec2-52-26-108-249.us-west-2.compute.amazonaws.com:5000/api/json_run/true';
            $.get(url, 
                function(data){alert(data)}
            );
        });
        $('#JSONstop').click(function(){
            url='http://ec2-52-26-108-249.us-west-2.compute.amazonaws.com:5000/api/json_run/false';
            $.get(url, 
                function(data){alert(data)}
            );
        });
    });
</script>
<input type="button" value="startJSONtest" id="JSONstart" >
<input type="button" value="stopJSONtest" id="JSONstop" >
<div id="container" class="chart" style="height: 500px; width: 500px"></div>
<script src="../static/js/graph.js"></script>
</body>