<html>
<head>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<input type="button" value="startJSONtest" id="JSONstart" >
<input type="button" value="stopJSONtest" id="JSONstop" >
<div id="container" class="chart" style="height: 500px; width: 500px"></div>
<script src="../static/js/graph.js"></script>
</body>