<html>
<head>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<input type="button" value="startJSONtest" id="JSONstart">
<input type="button" value="stopJSONtest" id="JSONstop">
<input type="button" value="startJSONproducer" id="JSONstartProducer">
<input type="button" value="stopJSONproducer" id="JSONstopProducer">
<div id="container" class="chart" style="height: 500px; width: 500px"></div>
<script src="../static/js/json_demo.js"></script>
</body>