<html>
<head>
	<title>SerIoTics Protobuf Demo</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/demo.css" rel="stylesheet">
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<input type="button" value="startPrototest" id="Protostart">
<input type="button" value="stopPrototest" id="Protostop">
<input type="button" value="startProtoproducer" id="ProtostartProducer">
<input type="button" value="stopProtoproducer" id="ProtostopProducer">
<div id="container" class="chart" style="height: 500px; width: 500px"></div>
<script src="../static/js/proto_demo.js"></script>
</body>